<div class="container card m-5 booking p-4">

  <h3>Mes demandes d'emprunt</h3>
  <ul>
    <% @bookings.each do |booking| %>
    <%# on pourrait changer le bookin.user.id par le nom du user qui a fait la demande %>
    <li> <%= "Vous avez demandé à emprunter le livre: #{booking.book.title} qui appartient à #{booking.book.user.email}" %> <%= link_to "Voir le livre", book_path(booking.book) %> </li>
    <% end %>
  </ul>

</div>

<div class="container card m-5 booking p-4">

  <h3>Demandes de locations en attente</h3>
  <ul>
    <% @owner_bookings.each do |owner_booking| %>
    <li> <%= "#{owner_booking.user.email} a demandé à emprunter le livre: #{owner_booking.book.title}" %> <%= link_to "Accepter/refuser", "#" %></li>
    <% end %>
  </ul>

</div>
