<%# view pour afficher la liste des books du owner %>
<ul>
  <% @bookings.each do |booking| %>
  <%# on pourrait changer le bookin.user.id par le nom du user qui a fait la demande %>
  <li> <%= "Vous avez demandé à emprunter le livre: #{booking.book.title} qui appartient à #{booking.book.user.id}" %> <%= link_to "Voir le livre", book_path(booking.book) %> </li>
  <% end %>
</ul>
