<%# view pour afficher la liste des books du owner %>
<ul>
  <% @bookings.each do |booking| %>
  <%# on pourrait changer le bookin.user.id par le nom du user qui a fait la demande %>
  <li> <%= "Emprunteur numero: #{booking.user.id} demande a emprunter le livre: #{booking.book.title}" %> <%= link_to "Voir la demande", booking_path(booking) %> </li>
  <% end %>
</ul>
