<div class="container">
  <div class="row d-flex justify-content-center search_bar">
    <form class="d-flex col-md-6" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="search-btn btn btn-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>

</div>
