.card{
  border-radius: 10px;
}
.img-book{
  object-fit: fill;
  height: 300;
  width: 400;
  aspect-ratio: auto 400 / 300;
}

.book-details{
  padding: 20px;
}

.booking {
  box-shadow: 5px 5px 10px lightgrey;

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 10px;
    }
  }
}
